@font-face {
  font-family: 'Apple Garamond';
  src: url('AppleGaramond.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;}
body {
  background-color: lightblue;
}
a {
  color: rgb(255, 255, 255);
}
body {
  margin: 0;
  background-color: hsl(223, 68%, 11%);
  color: hsl(0, 0%, 10%);
  line-height: 1.5;
  font-family: "Helvetica", Calibri, Tahoma, sans-serif;
}

h1, h3 {
  color: hsl(0, 0%, 100%)
}

h1 {
  font-family: "Apple Garamond";
  font-size: 5rem;
  font-style: italic;
  font-weight: 100;
}

h2 {
  font-size: 1rem;
  font-style: bold;
  font-weight: 200;
}

h3 {
  font-size: 1rem;
  font-style: bold;
  font-weight: 100;
}

p {
  font-size: 1rem;
}
.center {
  text-align: center;
}

body {
  cursor: url("swirl.png"), auto
}