body {
    font-family: "proxima-nova-extra-condensed", sans-serif;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    margin: 0px;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 8px 6px;
    position: sticky;
    
    top: 0px;
    z-index: 999;
  }

  .headerlogo{
    width: 80%;
  }
  
  /* Style the header links */
  .header a {
    display: inline-block;
    margin: 10px 20px;
    font-family: "proxima-nova-extra-condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header img {
    float: left;
    max-width: 35%;
    max-height: auto;
   
  }

  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    display: flex;
    flex-direction: row;
    gap:10px;
  }
  .header-right a {
    margin-left: 0px;
    margin-right: 0px;
    width: fit-content;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .popup {
    background-color: black;
    color:white;
    width:450px;
    padding: 20px 40px;
    position:absolute;
    text-align: center;
    left:34%;
    top: 32%;
    border-radius: 8px;
    font-family: "proxima-nova-extra-condensed", sans-serif;
    font-weight: 800;
    font-size: 1.3em;
    font-style: normal;
    display: none;
    transition: opacity 5s;

    z-index: 999;

 

  }
  .popup button{
    display:block;
    margin: 0 0 3px auto;
    background-color: transparent;
    font-size: 40px;
    color:white;
    border:none;
    outline:none;
    cursor: pointer;
  }
.popup p{
    font-size: 18px;
    text-decoration: justify;
    margin: 20px 0;
}
a{
    display: block;
    width: 150px;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px 0;
}
.container {
    /* overflow-x: hidden; */
    width: 100vw;
    display: flex;
    flex-direction: column;

    position: relative;
    top: -80px;
    z-index: 0;

    height: fit-content;
    /* margin-top: 6em; */
}
.container-1 div {
    object-fit: contain !important;

}
.hero {
    min-width: 100vw;
    background-image: url(hero-2.png);
    
}

.lineup {
    /* width: 100%; */
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 75px;
    padding:50px;

    background-image: url(lineup.png);
    height: 100vh !important;
}

.lineup img {
    width: 30%;
    height: fit-content;
}
.band {
    width: 100%;
    background-image: url(bands.png);
}

.More {
    font-size: 0.4em;
    text-decoration-line: underline;
}

.lineup {
    font-size: 2.8em;
    font-weight: 800;
}

.lineup-info p, .lineup-info a{
    margin: 0;
    text-align: left;
}
.lineup-info{
    padding-top: 50vh;
}



.tickets img {
    width: 75%;
    margin-top: -210px;

}

.tickets img:nth-child(1){
    transform: rotate(-15deg);
}
.tickets img:nth-child(2){
    transform: rotate(-184deg);
}
.tickets img:nth-child(3){
    transform: rotate(-15deg);
}

.tickets {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-top: 180px;
}


.ticketmoreinfo {
    width: 100vw;
    height: 70vh;

    color: white;
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 130px;

    gap: 20px;
}

.ticketmoreinfo div {
    background-color: red;
    height: 30%;
    width: 20%;

    position: relative;
}

.ticketmoreinfo div:nth-child(1){

    left:10%;

}

.ticketmoreinfo div:nth-child(2){
    left:70%;

}
.ticketmoreinfo div:nth-child(3){
    left:10%;

}

.html, body {
  cursor: url("c.png"), auto;
}

/* Flip Box Dayglow*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-1 {
  /* width: 350px;
  margin-left: 3em;
  margin-top: 6em; */
  height: 500px;
  perspective: 800px;
}

/* .container-1:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
} */

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
.card:hover {
cursor: pointer;
transform: rotateY(180deg);
}
.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  

}
#front1{
  background-image: url(dayglow-1.jpg);

}
#front2{
  background-image: url(card-02.jpg);

}
#front3{
  background-image: url(card-04.jpg);

}

#front4{
  background-image: url(card-03.jpg);

}

.back {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 30px
}

.container-1 {
  display: flex;
  flex-direction: row;

  width: 100vw;
  gap: 20px;
  padding: 20px;

}

#title {
  width: 100vw;
  text-align: center;
  font-size: 5em;
  margin-top: 55px;
  font-weight: 900;
  margin-bottom: 70px;

  line-height: 1.5rem;

}

.cardback{
  font-size: 23px;
  margin-left: 3px;
  color: white;

  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.75rem;
}

.funName {
  display: flex;
  flex-direction: column;
  width: 100vw;

  gap: 20px;

  justify-content: center;
  align-items: center;
  margin: 30px;
}

.funName input {
  width: 35%;
  min-height: 50px;
}

#submitName, #redo{
  width: 10%;
  height: fit-content;

  background-color: black;
  border-color: black;

  font-size: 2em;

  border-radius: 5px;
  color:white;
  outline: none;
}

#redo {
  width: 20%;
  font-weight: 600;
}

.DWartist{
width: auto;
  height: 95%;
  align-items: left;

  object-fit: contain !important;
}


.artistContainer {
  width: 100vw;
  height: 100vh;

  /* padding-top:10px; */
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;

  overflow-y: hidden;

  position: absolute;
  top: 0px;
}

.artistContainer * {
  width: 50%;
}

.artistContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
}

.artistContainer div * {
  text-align: center;
}

.artistTitle{
  align-items: center;
  font-size: 7em;
  line-height: 6.5rem;

}

.artistdesc {
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-decoration: underline;
}
.tix {
  opacity: 0%;
  transition: opacity 0.5s ease;
}
.visible {
  opacity: 100%;
}

.funName h1 {
  font-size: 5em;
}

input {
  font-family: 'proxima-nova-extra-condensed';
  text-align: center;
  font-size: 1.5em;
}