h1 {
  border-top: 5px dotted rgb(16, 90, 30);
}
div {
  border-top: double;
}
body {
    background-color: lightblue;
  }
  
  body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    line-height: 1.5;
    font-family: "Helvetica Bold", Calibri, Tahoma, sans-serif;
  }
  
  h2, h3 {
    color: hsl(0, 0%, 0%)
  }
  
  h1 {
    font-size: 2rem;
    font-style: bold;
    font-weight: 100;
  }
  
  h2 {
    font-size: 1rem;
    font-style: bold;
    font-weight: 200;
  }
  
  h3 {
    font-size: 1rem;
    font-style: bold;
    font-weight: 100;
  }
  
  p {
    font-size: 1rem;
  }

  p {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }