body{
    overflow: hidden;
    font-family: "pragmatapro-fraktur", serif;
    font-weight: 400;
    font-size: 1.5em;
    font-style: normal;
    text-align: center;
}
main{
    width:100vw;
    height:100vh;
    margin: 0;
    overflow: hidden;
}

.modal {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: absolute;
    top: 25vh;
    left: 25vw;
    
    z-index: 999;
    width: 50vw;
    height: 50vh;

    background-color:rgb(127, 149, 160);
}